

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CalculateMonthlyEMI</title>
</head>
<body>
    <div>
        <h1>
            Monthly EMI
        </h1>
        <h3>@Model.Result</h3>
    </div>
</body>
</html>
